<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of employees</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h2>Edit employee</h2>
    <form th:action="@{/guests/{id} (id=${guest.id})}" th:object="${guest}" method="POST">
        <input type="text" th:field="*{name}" class="form-control mb-3 col-4" placeholder="Enter name">
        <input type="text" th:field="*{email}" class="form-control mb-3 col-4" placeholder="Enter email">
        <input type="text" th:field="*{phone_num}" class="form-control mb-3 col-4" placeholder="Enter phone number">
        <h5>Enter check in date</h5>
        <input class="form-control mb-2 col-4" type="date" th:field="*{check_in_date}">
        <h5>Enter check out date</h5>
        <input class="form-control mb-2 col-4" type="date" th:field="*{check_out_date}">

        <button type="submit" class="btn btn-primary mb-3">Save</button>
    </form>
    <a th:href="@{/guests}">Back to list</a>
</div>
</body>
</html>